div.comment
  div.comment__img: img(src="https://placehold.it/45x45")
  div.comment__header
    a.comment__name(href="/") Test Name
    a(href=""): time.comment__date 3 дня назад
    div.comment__review
      my-label(type="info", text="новое")
      my-label(type="offtop", text="оффтоп")
      my-label(type="success", text="отзыв")
  div.comment__text Наконец-то досмотрела, смотрела я его довольно давно. Насчитала я 16 панцу, хотя не знаю зачем я их считала, наверное из-за того, что крутили по телеку. И тройку намеков на яой. Все как-то слишком однообразно, но интересно. Полно однообразной анимации, однообразных превращений, однообразных реплик. Но для своих годов снято годно. Были интересные моменты, были не очень. Не знаю, что насчет сейю, но они мне не очень понравились. Особенно визги, один случай на тысячу, когда мне не очень нравятся сейю и их работа. Понравилась музыка из появления Такседо и во 2 эндинге, восхищения ей особого не было, ну а в остальном как-то не запомнилась. Нарисовано все тоже вполне годно, мне понравилось, есть неплохие биши. Персонажи какие-то тупые, однообразные и неинтересные вышли. Особенно Усаги, она меня бесит, злодеи тоже тупые и не интересные. Только мужик с белой шевелюрой хоть что-то сделал для уничтожения сейлор воинов. Только кошка понравилась, которая Луна. Концовка тоже не понятная спойлер. Вроде понравилось, а вроде и нет. Во всяком случае дальше я смотреть не буду, у меня психика сдаст смотреть ее в лагающем плеере сибнете, гляну только Кристалл, когда он полностью выйдет. 6 сейлор воинов из 10
  div.comment__footer
    div.comment__answer: a Цитировать
    div.comment__answer: a Ответить
  div.comment-loader.comment-loader--answer Загрузить еще 10 из 999 ответов
  div.comment.comment--answer
    div.comment__img: img(src="https://placehold.it/45x45")
    div.comment__header
      a.comment__name(href="/") Test Name
      a(href=""): time.comment__date 3 дня назад
      div.comment__review
        my-label(type="info", text="новое")
    div.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci aliquid blanditiis commodi consectetur consequatur corporis delectus deleniti dicta dolore, dolorem ducimus eaque enim eos esse eum ex facere fuga hic id illum impedit ipsa ipsam nemo nisi obcaecati possimus quia reiciendis sequi sint sit tempora, ut velit, voluptatum.
    div.comment__footer
      div.comment__answer: a Цитировать
      div.comment__answer: a Ответить
  div.comment.comment--answer
    div.comment__img: img(src="https://placehold.it/45x45")
    div.comment__header
      a.comment__name(href="/") Test Name
      a(href=""): time.comment__date 3 дня назад
      div.comment__review
        my-label(type="info", text="новое")
    div.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci aliquid blanditiis commodi consectetur consequatur corporis delectus deleniti dicta dolore, dolorem ducimus eaque enim eos esse eum ex facere fuga hic id illum impedit ipsa ipsam nemo nisi obcaecati possimus quia reiciendis sequi sint sit tempora, ut velit, voluptatum.
    div.comment__footer
      div.comment__answer: a Цитировать
      div.comment__answer: a Ответить