html {
  font-size: @font-size;
  font-family: @font-family-base;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ddd;
  overflow-x: hidden;
}

footer {
  .container();
  padding-top: 15px;
  padding-bottom: 7px;
  font-size: 11px;
  font-weight: bold;

  a {
    padding-top: 3px;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }
  }

  .copyright {
    color: #555555;
    padding: 3px 1px 7px 0;
    float: right;
  }
}

a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;
  &:link{color: @link-color}
  &:visited{color: @link-color}
  &:hover{
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;

  }
  &:active{
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
}

.right {
  float: right;
}

.to_top {
  //display: none;
  opacity: 0.3;
  width: 50%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: #000;
}

