div#app
    topMenu
    to-top
    comment-notifer
    div.container
        router-view
    footer
        a(href="#") Соглашение
        a(href="#") Конфиденциальность
        a(href="#") Карта сайта
        span.copyright © mybooklist.org 2016