div#app
    topMenu
    to-top
    comment-notifier
    div.container
        router-view
    footer
        router-link(to="/terms") Соглашение
        router-link(to="/privacy") Конфиденциальность
        router-link(to="/sitemap") Карта сайта
        span.copyright © mybooklist.org 2016
