div
    div.autocomplete
        input.autocomplete__input(:class='{"autocomplete__input--error": error}', type='text',
        title='Начните вводить код или название', placeholder='Начните вводить код или название',
        v-model='selection', ref='autocomplete',
        @keydown.enter='enter', @keyup.delete='del',
        @keyup.esc='esc', @keydown.down='down',
        @keydown.up='up', @blur='focusLeave',
        @focus='onFocus', @input='change')
        div.autocomplete__title(:style="{'display': dspl, 'width': width+'px'}", @click='inputFocus')
            div.autocomplete__titleVal {{selection}}
            div.autocomplete__titleText
                div.autocomplete__titleData(:title='city') {{city}}
    ul.autocomplete__items(:class="{'autocomplete__items--active': open}")
        li.autocomplete__item(v-for='(suggestion, index) in matches', v-if='(index <= 4 && matchesLen > 0)',
        @click='suggestionClick(index)', :class="{'autocomplete__item--active': isActive(index)}")
            span(style='padding: 0 4px;') {{suggestion.Id}}
            span(style='padding: 0 4px;') {{suggestion.City}}
        li.autocomplete__item.autocomplete__item--tip(v-if='matchesLen > 0')
            | Показано
            |
            span(v-if='matchesLen < 5') {{matchesLen}}
            |
            span(v-else='') 5
            |
            | из {{matchesLen}} найденных городов. Уточните запрос, чобы увидеть остальные.
        li.autocomplete__item(
        :class="{'autocomplete__item--active': isActive(matchesLen)}",
        v-if='matchesLen <= 0', @click='add') + Добавить {{val}}
    div.autocomplete__error(:class="{'autocomplete__error--visible': error}")
        | Добавьте значение в справочник или выберите другое значение из списка.