<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../dev/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
</head>
<body>
<div class="container">
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <div class="content">
        g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>
        g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>g<br>
    </div>


    <div class="side-menu">
        <div class="info-box">
            <div class="info-box__title">Информация</div>
            <p><span class="muted-text">ISBN:</span> 5-699-52378-8 <a>и др.</a></p>
            <p><span class="muted-text">ISBN13:</span>  978-5-699-52378-8 <a>и др.</a></p>
            <p><span class="muted-text">ASIN:</span> B00005N5PF <a>и др.</a></p>
            <p><span class="muted-text">Языки:</span> Русский, English <a>и др.</a></p>
            <p><span class="muted-text"><abbr title="В различных изданиях и на разных языках количество страниц отличается">Страниц:</abbr></span>от 100 до 1500</p>
            <p><span class="muted-text">Форматы:</span> paperback, hardcover <a>и др.</a></p>
            <p><span class="muted-text">Дата первой публикации:</span> 01.01.1997</p>
            <p><span class="muted-text">Рейтинг:</span> 18+</p>
        </div>
    </div>
</div>
</body>
</html>
